html{
	color:#ffffff !important;
	background-color:#00000 !important;
	background-image:url('http://i692.photobucket.com/albums/vv289/true_love_is_4eva/Backgrounds/blackbackground.jpg');
}
#return_home_box{
	position: absolute;
	top:5px;
	left:5px;
	z-index:-5;
	height: 20px !important;
	width:50px;
	text-align:center;
}
#image_box{
	min-height:355px;
	height:auto !important;
	height:355px;
	max-height:355px;
	overflow:hidden;
	background-color:#000000;
}
#monster_box{
	position:absolute;
	top:220px;
	left:300px;
	height:150px;
	max-height:150px;
}
#text_box{
	min-height:290px;
	height:auto !important;
	height:290px;
	max-height:290px;
	overflow:hidden;
	margin-top:10px;
}

.leftColumn,.middleColumn,.rightColumn{
	padding: 6px;
	overflow:auto;
	float:left;
	max-height:280px;
}
.leftColumn{
	width:26%;
}
.middleColumn{
	width:40%;
}
.rightColumn{
	width:26%;
}