html, body {color: #4E3D4E; height:100%; margin:0; padding:0; font:calibri; }
#page-background {position:fixed; z-index:-1; top:0; left:0; width:100%; height:100%;}
#interface {z-index:1;position:relative;top:-388px;}
#control {z-index:1;position:relative;}
.menu {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}
a {
	text-decoration:none;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
a:hover {
	filter:alpha(opacity=100); 
	-moz-opacity: 1.0; 
	opacity: 1.0;
}
#ProfileBox {
	width: 150px; 
	height: 150px;  
	overflow: hidden; 
}
#container {
	max-width:1210px;
	background-color: #DDDDDD;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-opacity: 0.95;
	opacity: 0.95;
}
.bigFrame {
	background-color: #C2CACE;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
#centerzone,#chatzone,#profzone{
	height:540px;
	background-color: #F8FBEF;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-style: solid;
	border-width: 10px;
	overflow: hidden;
}
#midzone {height:484px; overflow: auto;}
#centerzone {width: 555px; border-color: #AABBCC transparent #AABBCC transparent;}
#chatzone {width: 250px; border-color: #AABBCC #AABBCC #AABBCC transparent; }
#profzone {width: 250px; border-color: #AABBCC transparent #AABBCC #AABBCC;}